<form action="/result">
  <div class="form-group">
    <label for="money">How many coins:</label>
    <input id="money" type="text" name="money" class="form-control">
  </div>
  <button type="submit" name="button" class="btn btn-success btn-lg">Calculate</button>
</form>
